<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <!-- Main Content -->
    <div class="container my-3">
        <div class="card">
            <div class="card-header">
              <h1 class="text-center">
                <span class="badge bg-success" th:text="${torneo.nombre}"></span>
              </h1>
            </div>
            
            <div class="d-flex">
                <div class="card-body col-10">
                    <!-- Información del Torneo -->
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    <h4>Información General</h4>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col">Fecha de Inicio</th>
                                <th scope="col">Fecha de Finalización</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td th:text="${#dates.format(torneo.fechaInicio, 'dd/MM/yyyy')}"></td>
                                <td th:text="${#dates.format(torneo.fechaFin, 'dd/MM/yyyy')}"></td>
                                <td th:text="${torneo.ciudad}"></td>
                                <td th:text="${torneo.tipo}"></td>
                            </tr>
                        </tbody>
                    </table>
    
                    <div class="card">
                        <div class="card-header">
                            <h4>Descripción</h4>
                        </div>
                        <div class="card-body">
                            <p th:text="${torneo.descripcion}"></p>
                        </div>
                    </div>
                    <!-- Fin - Información del Torneo -->

                    <!-- Deportistas Inscritos -->
                    <hr>
                    
                    <h4 class="text-center">Deportistas Inscritos</h4>

                    <div class="d-flex justify-content-between">
                        <a th:href="@{/torneos/{idTorneo}/inscripciones (idTorneo = ${torneo.idTorneo})}" class="btn btn-primary">Inscribir Deportista</a>
                        <a th:href="@{/baterias/generar/{idTorneo} (idTorneo = ${torneo.idTorneo})}" class="btn btn-primary">Generar Baterías</a>
                    </div>

                    <div th:if="${success != null}" class="alert alert-success my-3" th:text="${success}"></div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Sexo</th>
                                <th scope="col">Club</th>
                                <th scope="col">Categoría</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="deportista : ${torneo.deportistas}">
                                <td th:text="${deportista.nombre + ' ' + deportista.pApellido + ' ' + deportista.sApellido}"></td>
                                <td th:text="${deportista.Edad} + ' años'"></td>
                                <td th:text="${deportista.sexo}"></td>
                                <td th:text="${deportista.club.nombre}"></td>
                                <td th:text="${deportista.categoria.tipoPatin}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Fin - Deportistas Inscritos -->
                </div>
    
                <aside class="col-2 p-3">
                    <h4 class="text-center">Competencias</h4>
                    <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
                        <a th:each="competencia : ${competencias}" th:href="@{/torneos/{idT}/{idC} (idT = ${torneo.idTorneo}, idC = ${competencia.idCompetencia})}" class="btn btn-primary">[[ ${competencia.tipo} ]]</a>
                    </div>  
                </aside>
            </div>
        </div>
    </div>
    <!-- Fin - Main Content -->
</body>
</html>