<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <div class="container my-3">
        <h1 class="text-center">
            <span class="badge bg-success" th:text="${torneo.nombre}"></span>
        </h1>

        <div th:if="${danger != null}" th:text="${danger}" class="alert alert-danger my-3"></div>
        <div th:if="${warning != null}" th:text="${warning}" class="alert alert-warning my-3"></div>
        <div th:if="${success != null}" th:text="${success}" class="alert alert-success my-3"></div>

        <form th:action="@{/torneos/{idTorneo}/inscripciones (idTorneo = ${torneo.idTorneo})} " method="post">
            <div class="mb-3">
                <label for="" class="form-label">Documento de Identidad</label>
                <input type="text" class="form-control" name="docIdentidad">
            </div>

            <input type="submit" value="Inscribir" class="btn btn-primary">
        </form>
    </div>
</body>
</html>