<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <!-- Main Content -->
    <div class="container my-3">
        <h1 class="text-center">
            <span class="badge bg-success">
                Torneos
            </span>
        </h1>

        <a th:href="@{/torneos/crear}" class="btn btn-primary">
            Crear Torneo
        </a>

        <div th:if="${mensaje}" class="alert alert-success" role="alert">
            <span th:text="${mensaje}"></span>
        </div>
        <script>
            setTimeout(function() {
            document.querySelector('.alert').style.display = 'none';
            }, 2000);
        </script>

        <!-- Tabla de Torneos -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="torneo : ${torneos}">
                    <th scope="row" th:text="${torneo.idTorneo}"></th>
                    <td th:text="${torneo.nombre}"></td>
                    <td th:text="${torneo.descripcion}"></td>
                    <td th:text="${torneo.ciudad}"></td>
                    <td th:text="${torneo.tipo}"></td>
                    <td th:text="${torneo.estado ? 'Activo' : 'Finalizado'}"></td>
                    <td>
                        <a th:href="@{/torneos/editar/{id} (id = ${torneo.idTorneo})}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a th:href="@{/torneos/{id} (id = ${torneo.idTorneo})}" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-clipboard-list"></i>
                        </a>
                        
                        <a th:href="@{/torneos/finalizar/{id}(id = ${torneo.idTorneo})}" class="btn btn-secondary btn-sm">
                            Finalizar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fin - Main Content -->
</body>
</html>