<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    <span class="badge bg-success" th:text="${'Competencia: ' + competencia.tipo}"></span>
                </h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Deportistas</th>
                            <th>Resultados</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bateria : ${baterias}">
                            <td class="text-center align-middle" th:text="${bateria.key}"></td>
                            <td colspan="2">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr th:each="deportista : ${bateria.value}">
                                            <td th:text="${deportista.dHasBateriasId.deportista.nombre + ' ' + deportista.dHasBateriasId.deportista.pApellido + ' ' + deportista.dHasBateriasId.deportista.sApellido}"></td>
                                            <td th:each="punto : ${deportista.dHasBateriasId.deportista.participaciones}" th:if="${punto.id.competencia.idCompetencia == competencia.idCompetencia}" th:text="${'Posición: ' + punto.posicion + ' - Puntos: ' + punto.puntos + ' - Tiempo: ' + punto.tiempo}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="text-center align-middle">
                                <a class="btn btn-warning" th:href="@{/torneos/{idTorneo}/{idCompetencia}/{idBateria} (idTorneo = ${torneo.idTorneo}, idCompetencia = ${competencia.idCompetencia}, idBateria = ${bateria.key})}">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>