<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <!-- Main Content -->
    <div class="container my-3">
        <h1 class="text-center">
            <span class="badge bg-success">
                Deportistas Registrados
            </span>
        </h1>

        <a th:href="@{/deportistas/registrar}" class="btn btn-primary">
            Registrar Deportista
        </a>

        <!-- Tabla de Deportistas -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Club</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="deportista : ${deportistas}" th:if="${deportista.Edad >= 20 && deportista.sexo == 'M'}">
                    <td th:text="${deportista.nombre + ' ' + deportista.pApellido + ' ' + deportista.sApellido}"></td>
                    <td th:text="${deportista.fechaNacimiento}"></td>
                    <td th:text="${deportista.Edad} + ' años'"></td>
                    <td th:text="${deportista.sexo}"></td>
                    <td th:text="${deportista.club.nombre}"></td>
                    <td th:text="${deportista.categoria.edadMin + ' - ' + deportista.categoria.edadMax + ' años (' + deportista.categoria.tipoPatin + ')'}"></td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-primary btn-sm">
                            <i class="fa-solid fa-clipboard-list"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fin - Main Content -->
</body>
</html>