<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <!-- Main Content -->
    <div class="container my-3">
        <h1 class="text-center">
            <span class="badge bg-success">
                Registrar Club
            </span>
        </h1>

        <form th:action="@{/clubes/registrar}" method="post" th:object="${club}">
            <div class="d-flex justify-content-evenly mb-3">
                <div class="mx-2 w-25">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}">
                </div>

                <div class="mx-2 w-25">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" th:field="*{email}">
                </div>

                <div class="mx-2 w-25">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" th:field="*{telefono}">
                </div>
    
                <div class="mx-2 w-25">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" th:field="*{ciudad}">
                </div>
            </div>

            <h2 class="text-center">
                <span class="badge bg-primary">
                    Entrenadores
                </span>
            </h2>

            <button type="submit" class="btn btn-success" name="addRow">Añadir Entrenador</button>

            <div th:each="row, entrenador : *{entrenadores}" class="my-3">
                <h3><span class="badge bg-primary" th:text="'Entrenador #' + ${entrenador.index + 1}"></span></h3>

                <div class="d-flex justify-content-evenly flex-wrap">
                    <div class="p-2 w-25">
                        <label for="nombre" class="form-label">Cédula</label>
                        <input type="text" class="form-control" th:field="*{entrenadores[__${entrenador.index}__].cedula}">
                    </div>
        
                    <div class="p-2 w-25">
                        <label for="ciudad" class="form-label">Nombre</label>
                        <input type="text" class="form-control" th:field="*{entrenadores[__${entrenador.index}__].nombre}">
                    </div>

                    <div class="p-2 w-25">
                        <label for="telefono" class="form-label">Primer Apellido</label>
                        <input type="text" class="form-control" th:field="*{entrenadores[__${entrenador.index}__].pApellido}">
                    </div>
    
                    <div class="p-2 w-25">
                        <label for="telefono" class="form-label">Segundo Apellido</label>
                        <input type="text" class="form-control" th:field="*{entrenadores[__${entrenador.index}__].sApellido}">
                    </div>
    
                    <div class="p-2 w-25">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" th:field="*{entrenadores[__${entrenador.index}__].telefono}">
                    </div>

                    <div class="p-2 w-25">
                        <label for="" class="form-label">Acciones</label>
                        <button type="submit" class="btn btn-danger w-100" name="removeRow" th:value="${entrenador.index}">Eliminar Entrenador</button>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <!-- Fin - Formulario para Añadir un nuevo Club -->
    </div>
    <!-- Fin - Main Content -->
</body>
</html>