<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <!-- Main Content -->
    <div class="container my-3">
        <h1 class="text-center">
            <span class="badge bg-success">
                Clubes Registrados
            </span>
        </h1>

        <a th:href="@{/clubes/registrar}" class="btn btn-primary">
            Registrar Club
        </a>

        <!-- Tabla de Clubes -->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="club : ${clubes}">
                    <th scope="row" th:text="${club.idClub}"></th>
                    <td th:text="${club.nombre}"></td>
                    <td th:text="${club.ciudad}"></td>
                    <td th:text="${club.telefono}"></td>
                    <td>
                        <a th:href="@{/clubes/editar/{id} (id = ${club.idClub})}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Fin - Main Content -->
</body>
</html>