<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.org">
<head th:insert="~{fragments/head.html :: head}"></head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Listado de baterías</h2>
                <a class="btn btn-primary" th:href="@{/baterias/nuevo}">Nueva batería</a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Torneo</th>
                            <th>Deportistas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bateria : ${baterias}">
                            <td th:text="${bateria.key}"></td>
                            <td th:text="${bateria.value.dHasBateriasId.bateria.torneo.nombre}"></td>
                            <td>
                                <ul>
                                    <li th:each="deportista : ${bateria.value}" th:text="${deportista.dHasBateriasId.deportista.nombre + ' ' + deportista.dHasBateriasId.deportista.pApellido + ' ' + deportista.dHasBateriasId.deportista.sApellido}"></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>
</html>